<div id="contact" class="recaptcha-contact container">
    <div class="row">
        {% include 'partials/recaptchaform.html.twig' with {'page': page, 'recaptchacontact': recaptchacontact} %}
    </div>
</div>